body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
};

.top-bg{
  height: 800px;
  background-color: #54576d;
};


h1{
  font-size: 95px;
  z-index: 1;
}

@media screen and (max-width:668px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }
}